.nextra-toc>div> :last-child {
  fill-opacity: 50;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Fix nested lists */
li>ol,
li>ul {
  margin-top: 0 !important;
}

article.nextra-body-typesetting-article h2 {
  margin-top: 6rem !important;
}

/* More gap between h2 across docs and articles */
article.nextra-content h2._border-b {
  /* h2 with border-bottom as this is how h2 is on default docs mode, we do not want to target custom/raw h2 on landingpage, changelog, blog etc. */
  margin-top: 4rem;
}

svg .nodeLabel,
svg .edgeLabel {
  font-family: monospace;
}

/* Fix callout list */
.nextra-callout ul {
  margin-top: 0;
}

/* Overflowing nextra tabs should wrap */
[role="tablist"] {
  flex-wrap: wrap;
  row-gap: 0.2rem;
}

/* Subsequent details should have less of a gap */
details+details {
  margin-top: 0.5rem !important;
}

/* Fix detail padding */
details>div {
  padding: 0.25rem;
}

/* Details header should be bold */
details>summary {
  font-weight: 700;
}


/* Show light/dark images in mermaid diagrams */
.show-light {
  display: block !important;
}

.dark .show-light {
  display: none !important;
}

.show-dark {
  display: none !important;
}

.dark .show-dark {
  display: block !important;
}